<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Wiki Search</title>
    </head>
    <body>
        <form action="/search" method="POST">
            <input
                placeholder="Enter Search Keyword"
                name="keyword"
                id="keyword"
                required
            />
            <button type="submit">Search</button>
        </form>
    </body>
</html>
