<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/wikiinfo.css" />
        <link rel="stylesheet" href="/css/find.css" />
        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
            type="text/javascript"
        ></script>
        <script src="/javascript/find.js"></script>

        <title>wikiData.searchedKeyword</title>
    </head>
    <body>
        <header class="header">
            <h1><%= wikiData.matchedkeywords[wikiData.pageId] %></h1>
        </header>

        <div class="card_img">
            <%if(wikiData.body[wikiData.pageId].originalimage) {%>
            <img
                class="wiki_img"
                src="<%= wikiData.body[wikiData.pageId].originalimage.source%>"
                alt=""
            />

            <%} else {%>
            <img
                class="wiki_img"
                src="https://pngimage.net/wp-content/uploads/2018/06/no-image-available-png-3.png"
                alt=""
            />
            <%}%>
        </div>

        <div class="searchContend_h">
            <div class="ui-grid-c">
                <div class="ui-block-a">
                    <input
                        name="text-12"
                        id="text-12"
                        value=""
                        type="text"
                        class="textSearchvalue_h"
                    />
                </div>
                <div class="ui-block-b">
                    <a href="#" class="searchButtonClickText_h">Search</a>
                </div>
                <div class="ui-block-c">
                    <a href="#" class="next_h">Next</a>
                </div>
                <div class="ui-block-d">
                    <a href="#" class="previous_h">Previous</a>
                </div>
            </div>
        </div>
        <div class="card_summary" id="realTimeContents">
            <!-- <p class="wiki_summary"> -->

            <%= wikiData.body[wikiData.pageId].extract%>
            <!-- </p> -->
        </div>

        <div class="card_link">
            <a
                target="_blank"
                href="<%= wikiData.webURL[wikiData.pageId]%>"
                class="wiki_link"
                >Original Source</a
            >
        </div>
    </body>
</html>
